

<div id="root"><h1>dis broke</h1></div>

<%# bootstraps an image/asset to the window so it can be passed to heroku in compile %>
<script type="text/javascript">
    window.logo="<%= image_url('bl_logo.png')%>"
    window.search="<%= image_url('search.png')%>"
    window.record="<%= image_url('record.jpg')%>"
    window.concert1="<%= image_url('concert1.jpg')%>"
    window.concert2="<%= image_url('concert2.jpg')%>"
     window.concert3="<%= image_url('concert3.jpg')%>"
      window.concert4="<%= image_url('concert4.jpg')%>"
       window.concert2="<%= image_url('concert2.jpg')%>"
    window.albumcover1="<%= image_url('albumcover1.jpg')%>"
    window.albumcover2="<%= image_url('albumcover2.jpg')%>"
    window.albumcover3="<%= image_url('albumcover3.jpg')%>"
    window.albumcover4="<%= image_url('albumcover4.jpg')%>"
    window.albumcover5="<%= image_url('albumcover5.jpg')%>"
    window.recordcollection="<%= image_url('recordcollection.jpg')%>"
    window.rockstarguy="<%= image_url('rockstarguy.jpg')%>"
    window.sliders="<%= image_url('sliders.jpg')%>"
    window.soundboard="<%= image_url('soundboard.jpg')%>"
    window.urmusic="<%= image_url('urmusic.jpg')%>"
    window.desklamp="<%= image_url('desklamp.svg')%>"
    window.lantern="<%= image_url('lantern.svg')%>"
    window.bulb="<%= image_url('bulb.svg')%>"
    window.lightSwitch="<%= image_url('switch.svg')%>"
     window.bolt="<%= image_url('bolt.svg')%>"
      window.heart="<%= image_url('heart.svg')%>"
       window.color1="<%= image_url('color1.jpg')%>"
       window.color2="<%= image_url('color2.jpg')%>"
        window.color3="<%= image_url('color3.jpg')%>"
         window.color4="<%= image_url('color4.jpg')%>"
         window.guy1="<%= image_url('guy1.jpg')%>"
         window.guy2="<%= image_url('guy2.jpg')%>"
         window.guy3="<%= image_url('guy3.jpg')%>"
         window.guy4="<%= image_url('guy4.jpg')%>"
         window.guy5="<%= image_url('guy5.jpg')%>"
         window.guy6="<%= image_url('guy6.jpg')%>"
         window.guy7="<%= image_url('guy7.jpg')%>"
          window.emptyband="<%= image_url('emptyband.svg')%>"
           window.emptyalbumart="<%= image_url('emptyalbumart.svg')%>"
           window.playSolid="<%= image_url('play_solid.svg')%>"
           window.playSolidBlack="<%= image_url('play-solid-black.svg')%>"
           window.playEmpty="<%= image_url('play_empty.svg')%>"
           window.pause="<%= image_url('pause.svg')%>"
           window.arrow_left="<%= image_url('arrow_left.svg')%>"
           window.arrow_right="<%= image_url('arrow_right.svg')%>"
           window.tag_background="<%= image_url('tag-header.jpg')%>"
    
</script>

