

<div id="root"><h1>dis broke</h1></div>

<%# bootstraps an image/asset to the window so it can be passed to heroku in compile %>
<script type="text/javascript">
    window.logo="<%= image_url('bl_logo.png')%>"
    window.search="<%= image_url('search.png')%>"
    window.record="<%= image_url('record.jpg')%>"
    window.concert1="<%= image_url('concert1.jpg')%>"
    window.concert2="<%= image_url('concert2.jpg')%>"
    window.albumcover1="<%= image_url('albumcover1.jpg')%>"
    window.albumcover2="<%= image_url('albumcover2.jpg')%>"
    window.albumcover3="<%= image_url('albumcover3.jpg')%>"
    window.albumcover4="<%= image_url('albumcover4.jpg')%>"
    window.albumcover5="<%= image_url('albumcover5.jpg')%>"
    window.recordcollection="<%= image_url('recordcollection.jpg')%>"
    window.rockstarguy="<%= image_url('rockstarguy.jpg')%>"
    window.sliders="<%= image_url('sliders.jpg')%>"
    window.soundboard="<%= image_url('soundboard.jpg')%>"
    window.urmusic="<%= image_url('urmusic.jpg')%>"
    
</script>

