<!DOCTYPE html>
<html>
  <head>
    <title>Bandlamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta name="author" content="Bert Hill, www.berthilldev.com">
    <meta name="description" content="Bandlamp is a full stack, single page app built in Ruby on Rails and React. It is a pixel perfect clone of the website Bandcamp.com">
   <meta property="og:title" content="Bandlamp" />
    <meta
      property="og:image"
      content="<%=asset_path('full_demo.gif')%>"
    />
    <meta property="og:url" content="https://bandlamp.herokuapp.com/#/">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

    <%= javascript_include_tag 'application' %>

    <% if current_user %>
      <script>
        window.currentUser = {
          "user": {
            "id": "<%= current_user.id %>",
            "username": "<%= current_user.username %>",
            "artist": "<%=current_user.artist %>", 
            },
          "session": {
            "id": "<%= current_user.id %>"
          }
        };
      </script>
    <% end %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
